PORT=3002
CORS_ORIGIN=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5433
DB_NAME=game_db
DB_USER=idempo
DB_PASS=idempo

# Kafka
KAFKA_BROKERS=localhost:9092

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
