PORT=3005
CORS_ORIGIN=http://localhost:3000

DB_HOST=localhost
DB_PORT=5436
DB_NAME=leaderboard_db
DB_USER=idempo
DB_PASS=idempo

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BROKERS=localhost:9092
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
